[submodule "ahb_viewer/src/static/machine-readable_anwendungshandbuecher"]
	path = ahb_viewer/src/static/machine-readable_anwendungshandbuecher
	url = https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher