[submodule "ahb_viewer/src/routes/_ahbs"]
	path = ahb_viewer/src/routes/_ahbs
	url = https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
[submodule "ahb_viewer/src/lib/machine-readable_anwendungshandbuecher"]
	path = ahb_viewer/src/lib/machine-readable_anwendungshandbuecher
	url = https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
