openapi: 3.0.3
info:
  title: AHBesser API Documentation
  description: >
    This is the description for the API of the ahbesser web application.

    Some useful links:
    - [The machine-readable-anwendungshandbuecher repository](https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher)
    - [kohlr_AHB_i - the CLI tool to scrape the AHB tables from docx files](https://github.com/Hochfrequenz/kohlrahbi)
  termsOfService: http://swagger.io/terms/
  contact:
    email: kevin.krechan@hochfrequenz.de
  license:
    name: GPL-3.0
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  version: 0.0.1
externalDocs:
  description: JSON files of the AHB documents
  url: https://github.com/Hochfrequenz/machine-readable_anwendungshandbuecher
servers:
  - url: https://ahbesser.hochfrequenz.de/api/v1
tags:
  - name: ahb
    description: Everything about AHB documents
paths:
  /ahb/{format-version}/{pruefi}:
    get:
      tags:
        - ahb
      summary: Get an AHB document for a Pruefidentifikator from the provided Formatversion
      operationId: getAhb
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return
          required: true
          schema:
            type: string
        - name: pruefi
          in: path
          description: Pruefidentifikator of the AHB to return
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ahb"
      security:
        - ahbesser_auth:
            - read:ahb
  /format-versions:
    get:
      tags:
        - ahb
      summary: Get a list of all available format versions
      operationId: getFormatVersions
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /{format-version}/pruefis:
    get:
      tags:
        - ahb
      summary: Get a list of all available Pruefidentifikators for a given format version
      operationId: getPruefis
      parameters:
        - name: format-version
          in: path
          description: Formatversion of the AHB to return
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /version:
    get:
      tags:
        - maintenance
      summary: Get the current version of the AHBesser application
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"

components:
  schemas:
    Ahb:
      type: object
      properties:
        lines:
          type: array
          items:
            type: object
            properties:
              ahb_expression:
                type: string
              data_element:
                type: string
              guid:
                type: string
                format: uuid
              index:
                type: integer
              name:
                type: string
              section_name:
                type: string
              segment_code:
                type: string
              segment_group_key:
                type: string
              value_pool_entry:
                type: string
            required:
              - ahb_expression
              - guid
              - index
              - section_name
        meta:
          type: object
          properties:
            description:
              type: string
            direction:
              type: string
            maus_version:
              type: string
              pattern: '^\\d+\\.\\d+\\.\\d+$'
            pruefidentifikator:
              type: string
          required:
            - description
            - direction
            - maus_version
            - pruefidentifikator
      required:
        - lines
        - meta
    Version:
      type: object
      properties:
        version:
          type: string
        buildDate:
          type: string
        commitHash:
          type: string
        commitDate:
          type: string
        buildBranch:
          type: string
  securitySchemes:
    ahbesser_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://petstore3.swagger.io/oauth/authorize
          scopes:
            read:ahb: read your ahb
