@import '@fontsource/yanone-kaffeesatz';
@import '@fontsource/fira-mono';

:root {
	--font-body: "Yanone Kaffeesatz", 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-size: 'large';
	--color-bg-1: rgba(243, 241, 246);
	--color-theme-1: #e94c74;
	--color-theme-2: #6eb52c;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}

table.ahb{
	width:100%;
}
col#section_name{
	width:15%;
	max-width: 15%;
}
col#segment_group_key,col#segment_code,col#data_element{
	width:20rm;
	max-width:20rm;
	text-align:left;
}
col#data_element{
	margin-right:5em;
}
col#value_pool_entry{
	width:15%;
	max-width:15%;
}
col#name{
	width:30%;
	max-width:30%;
}
col#ahb_expression{
	width:30%;
	max-width:30%;
}
col#is_valid_expression{
	width:5em;
	max-width:5em;
	color:red;
}
td.irrelevant{
	background-color: var(--color-bg-1,1.5);
}
h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
